.banner {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height:  280px;
  color: white;
  padding: 150px 0px 0px 0px;
}

.banner  p {
  opacity: 0.7;
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */

  .banner h1 {
    text-align: center;
  }

  .banner p {
    text-align: center;
  }

}
